
$color-primary = #8caee0
$color-white = #fff
$color-gray = #bbb

$container-width = 1124px

$breakpoint-phone = 450px
$breakpoint-tablet = 768px
$breakpoint-desktop = 992px
$breakpoint-large-desktop = 1200px

$font-family = 'Roboto', sans-serif
